<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/photos.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <title>Fatih Metal Ferforje - Resimler</title>
</head>
<body>
  <header>
    <nav class="menu">
      <div id="logo">
        <a href="home_page.html"><img src="/static/img/FMF logo.png" alt="Logo"></a>
      </div>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul class="menu-items">
        <li><a href="home_page.html">Anasayfa</a></li>
        <li><a href="photos.html" class="active">Resimler</a></li>
        <li>
          <a href="products.html">Ürünlerimiz <i class="fas fa-caret-down"></i></a>
          <ul class="submenu">
            <li><a href="https://drive.google.com/file/d/18geG2ghktnyc1Y36xlXjl3Sl47yuyUFf/view?usp=drive_link">Paneller</a></li>
            <li><a href="https://drive.google.com/file/d/12XtPfl4i2-YEOoUHmPhZhGLJvt94cood/view?usp=drive_link">Cumbalar</a></li>
            <li><a href="https://drive.google.com/file/d/1czjrY-cGb6OUTQLN0TJvXgWpmXgQlcdG/view?usp=drive_link">Motifler</a></li>
            <li><a href="https://drive.google.com/file/d/164c6GnPt-Ue9cqcDXsziUuHU4ZYGb3ot/view?usp=drive_link">Baba Demirler</a></li>
            <li><a href="https://drive.google.com/file/d/1B_716TRqEyKp3dL0y5SgkeddzbW0uXcI/view?usp=drive_link">Parçalar</a></li>
          </ul>
        </li>
        <li><a href="referances.html">Referanslar</a></li>
        <li><a href="communication.html">İletişim</a></li>
      </ul>
    </nav>
  </header>

  <!-- Mevcut galeri -->
<main class="photo-gallery">
  <h1>Resimler</h1>
  <div class="gallery">
    <!-- Örnek resimler -->
    <img class="lightbox-image" src="/static/img/GEDİZ ILICA KÖPRÜ YAPIMI/2.JPG" alt="Resim 1">
    <img class="lightbox-image" src="/static/img/GEDİZ ILICA KÖPRÜ YAPIMI/5.JPG" alt="Resim 2">
    <img class="lightbox-image" src="/static/img/izmit/RMOD9998.JPG" alt="Resim 3">
    <img class="lightbox-image" src="/static/img/izmit/IMG_3049.JPG" alt="Resim 4">
    <img class="lightbox-image" src="/static/img/KASTAMONU CİDE ORMAN İŞLETME/1.JPG" alt="Resim 5">
    <img class="lightbox-image" src="/static/img/KASTAMONU CİDE ORMAN İŞLETME/3.JPG" alt="Resim 6">
    <img class="lightbox-image" src="/static/img/KASTAMONU CİDE ORMAN İŞLETME/5.jpg" alt="Resim 7">
    <img class="lightbox-image" src="/static/img/resim/Çelik Hangar Montaj.JPG" alt="Resim 8">
    <img class="lightbox-image" src="/static/img/resim/Çelik Hangar Montaj 1.JPG" alt="Resim 9">
    <img class="lightbox-image" src="/static/img/resim/Çelik Yapı8.JPG" alt="Resim 10">
    <img class="lightbox-image" src="/static/img/resim/Devlet Konuk Evi2.JPG" alt="Resim 11">
    <img class="lightbox-image" src="/static/img/RİZE ÇAYELİ YAY ÜST GEÇİT YAPIMI/1.JPG" alt="Resim 12">
    <img class="lightbox-image" src="/static/img/RİZE ÇAYELİ YAY ÜST GEÇİT YAPIMI/4.JPG" alt="Resim 13">
    <img class="lightbox-image" src="/static/img/RİZE İYİDERE TONOZ YAPIMI/1.JPG" alt="Resim 14">
    <img class="lightbox-image" src="/static/img/RİZE İYİDERE TONOZ YAPIMI/3.JPG" alt="Resim 15">
    <img class="lightbox-image" src="/static/img/TRABZON AKYAZI TONOZ YAPIMI/2.JPG" alt="Resim 16">
    <img class="lightbox-image" src="/static/img/TRABZON AKYAZI TONOZ YAPIMI/4.JPG" alt="Resim 17">
    <img class="lightbox-image" src="/static/img/TRABZON AKYAZI TONOZ YAPIMI/6.JPG" alt="Resim 18">
    <img class="lightbox-image" src="/static/img/fmf.jpg" alt="Resim 19">
    <img class="lightbox-image" src="/static/img/Hangar.jpg" alt="Resim 20">
    <img class="lightbox-image" src="/static/img/resim/Ankara Cad. Korkuluk Pendik.JPG" alt="Resim 21">
    <img class="lightbox-image" src="/static/img/resim/Cebeci Şehir Parkı1.JPG" alt="Resim 22">
    <img class="lightbox-image" src="/static/img/resim/Korkuluk Uygulama 2.jpg" alt="Resim 23">
    <img class="lightbox-image" src="/static/img/resim/Korkuluk Uygulama 3.JPG" alt="Resim 24">
    <img class="lightbox-image" src="/static/img/resim/Korkuluk Uygulama 4.JPG" alt="Resim 25">
    <img class="lightbox-image" src="/static/img/resim/Devlet Konuk Evi Katlanır Kapı.JPG" alt="Resim 26">
    <img class="lightbox-image" src="/static/img/Kapı.jpg" alt="Resim 27">
    <img class="lightbox-image" src="/static/img/resim/Kapı 2.JPG" alt="Resim 28">
    <img class="lightbox-image" src="/static/img/resim/Kapı 3.JPG" alt="Resim 29">
    <img class="lightbox-image" src="/static/img/resim/Katlanır Kapı.JPG" alt="Resim 30">
    <img class="lightbox-image" src="/static/img/Kapı 2.jpg" alt="Resim 31">
    <!-- Yeni resimleri de buraya ekleyebilirsiniz -->
  </div>
</main>

<!-- Lightbox Container -->
<div id="lightbox">
  <span class="close">&times;</span>
  <img class="lightbox-content">
  <div class="caption"></div>
</div>


  <footer class="site-footer">
    <div class="footer-container">
      <!-- Footer sütunları örnek yapısı; ortak footer içeriğiniz burada yer alabilir -->
      <div class="footer-col">
        <h3>Çelik Metal</h3>
        <ul>
          <li><a href="home_page.html">Anasayfa</a></li>
          <li><a href="photos.html">Resimler</a></li>
          <li><a href="products.html">Ürünlerimiz</a></li>
          <li><a href="referances.html">Referanslar</a></li>
          <li><a href="communication.html">İletişim</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h3>Ürünler</h3>
        <ul>
          <li><a href="https://drive.google.com/file/d/18geG2ghktnyc1Y36xlXjl3Sl47yuyUFf/view?usp=drive_link">Paneller</a></li>
            <li><a href="https://drive.google.com/file/d/12XtPfl4i2-YEOoUHmPhZhGLJvt94cood/view?usp=drive_link">Cumbalar</a></li>
            <li><a href="https://drive.google.com/file/d/1czjrY-cGb6OUTQLN0TJvXgWpmXgQlcdG/view?usp=drive_link">Motifler</a></li>
            <li><a href="https://drive.google.com/file/d/164c6GnPt-Ue9cqcDXsziUuHU4ZYGb3ot/view?usp=drive_link">Baba Demirler</a></li>
            <li><a href="https://drive.google.com/file/d/1B_716TRqEyKp3dL0y5SgkeddzbW0uXcI/view?usp=drive_link">Parçalar</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h3>Hizmetler</h3>
        <ul>
          <li><a href="#">İmalat</a></li>
          <li><a href="#">Montaj</a></li>
          <li><a href="#">Tasarım </a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h3>Bize Ulaşın</h3>
        <p>Dudullu OSB, 114. Sk DES Sanayi Sitesi C18 Blok No:50,
          34776 Ümraniye/İstanbul</p>
        <p><a href="tel:+905427172171">+90 (542) 717 2171</a></p>
        <p><a href="tel:+902163653625">+90 (216) 365 3625</a></p>
        <p><a href="mailto:info@celikmetal.com">info@fatihmetalferforje.com</a></p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Fatih Metal Ferforje. Tüm hakları saklıdır.</p>
    </div>
  </footer>

  <script src="/static/javascript/lightbox.js"></script>
  <script src="/static/javascript/hamburger.js"></script>
</body>
</html>
